* {
   margin: 0;
   
}


h1 {
   background: black;
   color:white;
   margin-bottom:20px;
   padding:10px 0;
}

.display {
   text-align: center;
}

.line, .edit {
   background-color:rgba(128, 128, 128, 0.442);
   width: 300px;
   height: 130px;
   margin: 0 auto;
   border-radius: 5px;
}

form > div:first-child{
   padding-top:10px;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

[type="text"],[type="number"] {
   margin: 5px 0;
   padding:10px;
   border: 2px solid black;
   border-radius:10px;
}

.edit {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.edit > input, button {
    padding:10px;
    margin: 5px 0;
    border-radius: 5px; 
} 

.modify {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top:30px;
   background:greenyellow;
   width: 300px;
   height:200px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   margin: 10px auto;
}