.form-container {
    background: #f5f5f5;
    padding: 14px 10px;
    border: 1px solid #cccccc;
    width: 100%;
    max-width: 830px;
    border-radius: 6px;
    margin: 0 auto;
}

.form-container label {
    display: block;
    margin: 4px 0;
    font-weight: 600;
    font-size: 14px;
}

.form-container form .inputs div {
    margin: 20px 0;
}

.form-container input {
    display: block;
    border-radius: 4px;
    padding: 0 10px;
    width: 400px;
    height: 30px;
    border: 1px solid #cccccc;
}

.form-container .textarea {
    width: 100%;
    max-width: 400px;
    margin: 0 10px 0 10px;
}

.form-container textarea {
    border: 1px solid #cccccc;
    border-radius: 4px;
    width: 100%;
    display: block;
    height: 100% !important;
    max-height: 200px;
}

.form-container input::placeholder {
    font-size: 14px;
}

.form-container input:focus,
.form-container textarea:focus {
    outline: none;
    box-shadow: 0 0 12px 0 rgb(0 125 244 / 40%);
    border: 1px solid rgb(0, 125, 244, 0.5);
    transition-duration: 0.5s;
}

.form-container button {
    display: block;
    width: 100%;
    max-width: 130px;
    padding: 10px 0;
    border-radius: 4px;
    border: none;
    background: #428bca;
    color: white;
    margin: 18px 4px 0 auto;
}

.form-container button:hover {
    cursor: pointer;
    opacity: 80%;
    transition: 0.4s;
}

.form-container form .container {
    display: flex;
    /* justify-content: space-between; */
}

.form-container .textarea {
    margin-left: 30px;
}